@import './config.sass'


*
    // outline: 1px solid rgba(red, .5)

body
    margin: 0
    padding: 0
    font-family: Thasadith, sans-serif
    font-size: $size--text

.limited-width, .max-width, .narrow
    max-width: 1200px
    margin-left: auto
    margin-right: auto
.narrow
    max-width: 1024px
.max-width
    max-width: 1920px

a
    text-decoration: none
    font-weight: bold
    transition: color (1.5 * $time--transition) (.5 * $time--transition)
    color: $color--text
    &:hover
        color: $color--secondary
        transition: color $time--transition

.horizontal-center
    left: 50%
    transform: translateX(-50%)

section
    padding: 100px 0
    &.bg-paint.green
        background-color: hsla(88, 50%, 80%, 1)
    &.bg-paint.primary
        background-color: $color--primary
    &.bg-paint.secondary
        background-color: $color--secondary

.section-title
    color: $color--primary
    font-family: impact
    letter-spacing: .1em
    text-transform: uppercase
    font-size: $size--header